Repository disease-sh/API, pull requests merged in 2020-03, with the labels that each got.

#131 Another two birds one stone
  funcs/countryMap.js
  funcs/historical.js
Labels: bug

#136 IMPORTANT bug fix states col number for decreased
  funcs/getStates.js
Labels: bug

#234 Adding active cases to /all endpoint
  funcs/getAll.js
Labels: enhancement

#291 Added installation info to readme
  README.md
  contrib.md
Labels: worked on
