Repository disease-sh/API, pull requests merged in 2020-04, with the labels that each got.

#188 Updated to work with getYesterday's PR
  server.js
Labels: for later, worked on

#520 [Feature] adding countries property in continent
  10584
  191762
  4131
  FETCH_HEAD
  routes/api_worldometers.js
  scrapers/getWorldometers.js
  tests/api_deprecated.spec.js
  tests/api_worldometers.spec.js
Labels: for later

#550 Added the landing page header responsiveness in smaller devices
  public/assets/css/styles.css
Labels: bug

#579 WIP: Add showcase
  README.md
Labels: documentation, enhancement, worked on
